@import url('https://fonts.googleapis.com/css?family=Montserrat|Quicksand&display=swap');

$heading-font-family: 'Quicksand', sans-serif;
$regular-font-family: 'Montserrat', sans-serif;

* {
  font-family: $regular-font-family;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  font-weight: normal;
  margin-top: 0;
  * ~ & {
    margin-top: auto;
  }
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.25rem;
}