@import "./partials/colors";
@import "./partials/fonts";

// the "don't take me seriously" rule.
* {
  text-transform: lowercase;
}

body {
  background: $dark-gray;
  color: $off-white;
}

.pretty-big-guy {
  font-size: 15rem;
  margin: -3rem 0;
}