@import "./partials/colors";
@import "./partials/fonts";

* {
  box-sizing: border-box;
  // the "don't take me seriously" rule.
  text-transform: lowercase;
}

body {
  color: $off-white;
  margin: 0;
}

.intro {
  padding: 2rem;
}

.hero {
  background:
    url('/assets/flatirons-web.svg') center bottom / 100vw auto no-repeat,
    linear-gradient(to bottom right, $sky-blue, darken($sky-blue, 30%));
  color: $dark-blue;
  height: 100vh;
  position: relative;
}