@import "./partials/colors";
@import "./partials/fonts";

// the "don't take me seriously" rule.
* {
  text-transform: lowercase;
}

body {
  background: $dark-gray;
  color: $off-white;
  margin: 0;
}

.hero {
  height: 100vh;
  background: url('/assets/flatirons-web.svg') center bottom / 100vw auto no-repeat;
}